$btn-font-family: 'Ubuntu', sans-serif;
$btn-padding: 0.75rem 1rem;


$btn-selecto: () !default;
$btn-selecto: map-merge((
  border-radius: 0,
  font-family: $btn-font-family,
  padding: $btn-padding,
), $btn-selecto);

.btn {
  @include clay-button-variant($btn-selecto);
}


$btn-primary: () !default;
$btn-primary: map-merge((
    border: 0,
    color: $white,
    font-weight: bold,
    background-color: $primary,
    active: (
      background-color: $primary,
    ),
    focus: (
      box-shadow: none,
    ),
    hover: (
      background-color: $primary-d1,
      color: $white,
      transform: scale(1.1),
    )
), $btn-primary);

$btn-secondary: () !default;
$btn-secondary: map-merge((
  background-color: $secondary,
  color: $white,
  border: 0,
  active: (
    background-color: $secondary-d2,
    color: $white,
    border: 0,
  ),
  focus: (
    box-shadow: none,
    color: $white,
    border: 0,
  ),
  hover: (
    background-color: $secondary-d2,
    color: $white,
    border: 0,
  ),

), $btn-secondary);


$btn-transparent: () !default;
$btn-transparent: map-merge((
  background-color: transparent,
  color: $secondary,
  border: 1px solid $secondary,

  active: (
    border-color: $secondary,
    color: $secondary,
  ),

  focus: (
    box-shadow: none,
    border-color: $secondary,
    color: $secondary,
  ),
  hover: (
    border-color: $secondary,
    color: $secondary,
  )
), $btn-transparent);

.btn-transparent {
	@include clay-button-variant($btn-transparent);
}

