<ng-container *ngIf="samples">
  <div class="table-responsive">
    <table class="table table-autofit show-quick-actions-on-hover table-hover table-list">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th *ngIf="roles.isAdmin()"></th>
      </thead>
      <tbody>
        <tr *ngFor="let sample of samples">
          <td>
            <p>
              {{sample.id}}
            </p>
          </td>
          <td>
            <p>
              {{sample.name}}
            </p>
          </td>
          <td *ngIf="roles.isAdmin()">
            <div class="row justify-content-end c-mr-2">
              <button (click)="delete(sample.id)" class="btn btn-sm btn-danger" id="ng-btn-remove">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<button *ngIf="roles.isAdmin()" (click)="create()" class="btn btn-primary">Add</button>
