$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-weight-bold: 700 !default;

$primary: #2C50FA !default;
$primary-d1: #041e9a !default;
$primary-d2: darken($primary, 10) !default;
$primary-l1: lighten($primary, 22.94) !default;
$primary-l2: lighten($primary, 32.94) !default;
$primary-l3: lighten($primary, 44.90) !default;

$secondary: #1b1b1b !default;
$secondary-d2: darken($secondary, 10) !default;
$secondary-l1: lighten($secondary, 22.94) !default;
$secondary-l2: lighten($secondary, 32.94) !default;
$secondary-l3: lighten($secondary, 44.90) !default;
$white: #ffff !default;