.selecto-nav {
  width: 100%;
  display: flex;
  align-items: center;

  .selecto-user {
    margin-left: auto;
  }
  @media(max-width:767px) {
    flex-direction: column;

    .selecto-user {
      margin-left: 0;
      margin-right: auto;
    }
  }
}