<div class="form-group">
    <div class="input-group">
        <div class="input-group-item-shrink">
            <input type="text" placeholder="Name" [(ngModel)]="sampleName" class="form-control" id="ng-input-name" />
        </div>
        <div class="input-group-item-shrink c-ml-2">
            <button (click)="create()" class="btn btn-primary" id="ng-btn-save">Save</button>
        </div>
        <div class="input-group-item">
            <Button (click)="goBack()" class="btn btn-warning">Cancel</Button>
        </div>
    </div>
</div>

